[Desktop Entry]
Type=Application
Name=MAE (Connected)
GenericName=Text Editor (Collaborative)
Comment=Open MAE connected to the daemon
Exec=mae --gui --connect
Icon=mae
Terminal=false
Categories=Utility;Development;TextEditor;
StartupWMClass=mae
StartupNotify=true
